<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:\Users\hadee\IdeaProjects\RestAssured\src\test\java\Week09Assignments">
        <classes>
            <class name="Week09Assignments.HomeWork12Create"></class>
            <class name="Week09Assignments.HomeWork12Read"></class>
        </classes>
    </test>
</suite>